{% extends 'app2/base.html' %}
{% load static %}

{% block content %}
<div class="main_content_iner">
    <div class="container-fluid p-0 sm_padding_15px">
        <div class="add_button" style="text-align: right;">
            <a href="{% url 'app2:add_edit_blog_post' %}" class="btn btn-success btn-circle btn-lg">
                Add Blog <i class="fa fa-plus"></i>
            </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="serach_field-area">
                            <div class="search_inner">
                                <form method="get" action="{% url 'app2:blog_post_list' %}">
                                    <div class="search_field">
                                        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search here...">
                                    </div>
                                    <button type="submit"> <img src="{% static 'app2/img/icon/icon_search.svg' %}" alt>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="sort_area">
                            <form method="get" action="{% url 'app2:blog_post_list' %}">
                                <div class="form-group">
                                    <label for="sort_by">Sort By:</label>
                                    <select name="sort_by" id="sort_by" onchange="this.form.submit()">
                                        <option value="-publish_date" {% if request.GET.sort_by == '-publish_date' %}selected{% endif %}>Newest</option>
                                        <option value="publish_date" {% if request.GET.sort_by == 'publish_date' %}selected{% endif %}>Oldest</option>
                                        <option value="title" {% if request.GET.sort_by == 'title' %}selected{% endif %}>Name(A-Z)</option>
                                        <option value="-title" {% if request.GET.sort_by == '-title' %}selected{% endif %}>Name(Z-A)</option>


                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Blog Image</th>
                                        <th>Blog Title</th>
                                        <th>Content</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for blog_post in page %}
                                    <tr>
                                        <td><img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}" width="100"></td>
                                        <td>{{ blog_post.title }}</td>
                                        <td>{{ blog_post.content|striptags|truncatechars:100 }}</td>
                                        <td><a href="{% url 'app2:add_edit_blog_post' blog_post.slug %}" class="btn btn-primary">Edit</a></td>
                                        <td><a href="{% url 'app2:delete_blog_post' blog_post.slug %}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pagination_area">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a></li>
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>
                                    {% if page.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">&raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}