{% extends 'app2/base.html' %}
{% load static %}
{% block content %}
        <div class="main_content_iner ">
            <div class="container-fluid p-0">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="dashboard_header mb_50">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="dashboard_header_title">
                                        <h3>Login</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="dashboard_breadcam text-end">
                                        <p><a href="{%url 'app2:home'%}">Dashboard</a> <i class="fas fa-caret-right"></i> login
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="white_box mb_30">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">

                                    <div class="modal-content cs_modal">
                                        <div class="modal-header justify-content-center theme_bg_1">
                                            <h5 class="modal-title text_white">Log in</h5>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'app2:app2login'%}?next={{ request.GET.next }}">
                                                {% csrf_token %}
                                                {{ form.errors }}
                                                {{ form.username.label_tag }} {{ form.username }}
                                                {{ form.password.label_tag }} {{ form.password }}
                                                <button type="submit" class="btn_1 full_width text-center">Login</button>
                                            </form>
                                            {% if request.GET.error == 'admin' %}
                                            <div class="alert alert-danger mt-3">
                                               Username or password error: 
                                               You need to be an admin to access this page.
                                            </div>
                                            {% else %}
                                            {{form.errors}}
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 {% endblock %}