{% extends 'app2/base.html' %}
{% load static %}

{% block content %}
<div class="main_content_iner">
    <div class="container-fluid p-0 sm_padding_15px">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="add_button" style="text-align: right;">
                    <a href="{% url 'app2:add_edit_product' %}" class="btn btn-success btn-circle btn-lg">
                        Add Product <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="serach_field-area">
                    <div class="search_inner">
                        <form method="get" action="{% url 'app2:product_list' %}">
                            <div class="search_field">
                                <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search here...">
                            </div>
                            <button type="submit"> <img src="{% static 'app2/img/icon/icon_search.svg' %}" alt>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="sort_area">
                    <form method="get" action="{% url 'app2:product_list' %}">
                        <div class="form-group">
                            <label for="sort_by">Sort By:</label>
                            <select name="sort_by" id="sort_by" onchange="this.form.submit()">
                                <option value="-created_at" {% if request.GET.sort_by == '-created_at' %}selected{% endif %}>Newest</option>
                                <option value="created_at" {% if request.GET.sort_by == 'created_at' %}selected{% endif %}>Oldest</option>
                                <option value="title" {% if request.GET.sort_by == 'title' %}selected{% endif %}>name(A-Z)</option>
                                <option value="-title" {% if request.GET.sort_by == '-title' %}selected{% endif %}>name(Z-A)</option>
                            </select>
                        </div>
                    </form>
                    <form method="get">
                        <label for="gender">Filter by Gender:</label>
                        <select name="gender" id="gender" onchange="this.form.submit()">
                            <option value="">All genders</option>
                            <option value="Men" {% if request.GET.gender == "Men" %}selected{% endif %}>Men</option>
                            <option value="Women" {% if request.GET.gender == "Women" %}selected{% endif %}>Women</option>
                            <option value="Unisex" {% if request.GET.gender == "Unisex" %}selected{% endif %}>Unisex</option>
                        </select>&nbsp;&nbsp;
                        
                        <label for="category">Filter by Category:</label>
                        <select name="category" id="category" onchange="this.form.submit()">
                        <option value="">All</option>
                        {% for cat in categories %}
                        <option value="{{ cat.slug }}" {% if request.GET.category == cat.slug %}selected{% endif %}>{{ cat.title }}</option>
                  
                        {% endfor %}
                        </select>
                    </form>
                </div>

                  
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Details</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in page %}
                                    <tr>
                                        <td><img src="{{ product.product_image.url }}" alt="{{ product.title }}" width="100"></td>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.short_description }}</td>
                                        <td><a href="{% url 'app2:add_edit_product' product.slug %}" class="btn btn-primary">Edit</a></td>
                                        <td><a href="{% url 'app2:delete_product' product.slug %}" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pagination_area">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a></li>
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>
                                    {% if page.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
                                    <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">&raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
