{% extends 'app2/base.html' %}
{% load static %}

{% block content %}
<div class="main_content_iner">
    <div class="container-fluid p-0 sm_padding_15px">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="dashboard_header mb-4">
                    <h2>Edit Product</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form method="post" enctype="multipart/form-data" class="custom-form">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form.non_field_errors }}
                            {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if field.name == 'product_image' %}
                                    {% if form.instance.product_image %}
                                        <img src="{{ form.instance.product_image.url }}" style="max-height: 400px; max-width: 400px;" alt="Current Image" class="current-image">
                                    {% else %}
                                        <p>No image available</p>
                                    {% endif %}
                                    {{field}}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
