{% extends 'app/base.html' %}
{% load static %}

    {% block content %}
    
      <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Shop</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                    <li class="breadcrumb-item"><a href="{%url 'app:home'%}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <div class="container p-0">
            <div class="row">
              <!-- SHOP SIDEBAR-->
              <div class="col-lg-3 order-2 order-lg-1">
                <div class="mb-4">
                  <form method="get">
                    <h5 class="text-uppercase mb-4">Sort</h5>
                    <div class="d-flex flex-column mb-3">
                      <div class="mb-2">
                        <label for="sorting">Sort by:</label>
                        <select name="sort_by" id="sort_by" class="form-control d-inline-block" onchange="this.form.submit()">
                          <option value="latest" {% if request.GET.sort_by == "latest" %}selected{% endif %}>Latest</option>
                          <option value="name" {% if request.GET.sort_by == "name" %}selected{% endif %}>name</option>
                          <option value="price" {% if request.GET.sort_by == "price" %}selected{% endif %}>price</option>
                        </select>
                      </div>
                      <div>
                        <label for="sort_order">Sort Order:</label>
                        <select name="sort_order" id="sort_order" class="form-control d-inline-block" onchange="this.form.submit()">
                          <option value="asc" {% if request.GET.sort_order == "asc" %}selected{% endif %}>Ascending</option>
                          <option value="desc" {% if request.GET.sort_order == "desc" %}selected{% endif %}>Descending</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
                <h5 class="text-uppercase mb-4">Categories</h5>
                 
                <form method="get">
                  <select name="category" class="form-control mb-3" onchange="this.form.submit()">
                    <option value="">All categories</option>
                    {% for cat in categories %}
                      <option value="{{ cat.slug }}" {% if request.GET.category == cat.slug %}selected{% endif %}>{{ cat.title }}</option>
                  
                    {% endfor %}
                  </select>

                  <h5 class="text-uppercase mb-4">Gender</h5>
                  <select name="gender" class="form-control mb-3" onchange="this.form.submit()">
                    <option value="">All genders</option>
                    <option value="Men" {% if request.GET.gender == "Men" %}selected{% endif %}>Men</option>
                    <option value="Women" {% if request.GET.gender == "Women" %}selected{% endif %}>Women</option>
                    <option value="Unisex" {% if request.GET.gender == "Unisex" %}selected{% endif %}>Unisex</option>
                  </select>
              
                </form>
  
              </div>
              <!-- SHOP LISTING-->
              <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row mb-3 align-items-center">
                  <div class="col-lg-6 mb-2 mb-lg-0">
                    <p class="text-small text-muted mb-0">Showing {{ products.start_index }}–{{ products.end_index }} of {{ products.paginator.count }} results</p>
                  </div>
                  <div class="col-lg-6" style="text-align: right;">
                    <form method="get" action="{% url 'app:shop' %}" >
                        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search...">
                        <button type="submit" class="search-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg></i></button>
                    </form>
                  </div>
                  
                </div>
                <div class="row">
                  <!-- PRODUCT-->
                  {% if products %}
                    {% for product in products %}
                      <div class="col-lg-4 col-sm-6">
                        <div class="product text-center">
                          <div class="mb-3 position-relative">
                            <div class="badge text-white badge-"></div><a class="d-block" href="{% url 'app:product-detail' product.slug %}"><img class="img-fluid w-100" style="height: 300px;" src="{{product.product_image.url}}" alt="..."></a>
                            <div class="product-overlay">
                              <ul class="mb-0 list-inline">
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="{% url 'app:add-to-wishlist' product.id %}">
                                  {% if user.is_authenticated %}
                                    {% if product.id in is_in_wishlist %}
                                        <i class="fas fa-heart "></i> 
                                    {% else %}
                                        <i class="far fa-heart "></i>
                                    {% endif %}
                                  {% else %}
                                      <i class="far fa-heart"></i> 
                                  {% endif %}</a>
                                </li>
                                <li class="list-inline-item m-0 p-0">
                                  <form action="{% url 'app:add-to-cart' %}">
                                    <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                                    {% if product.id in cart_product_ids %}
                                    <button type="submit" class="btn btn-sm btn-dark">Remove from Cart</button>
                                  {% else %}
                                    <button type="submit" class="btn btn-sm btn-dark">Add to Cart</button>
                                  {% endif %}                                  </form>
                                </li>
                                <li class="list-inline-item mr-0"><a class="d-block" href="{{product.product_image.url}}" data-lightbox="product" title="{{ product.title }}"><i class="fas fa-expand"></i></a></li>
                              </ul>
                            </div>
                          </div>
                          <h6> <a class="reset-anchor" href="{% url 'app:product-detail' product.slug %}">{{ product.title }}</a></h6>
                          <p class="small text-muted">${{ product.price }}</p>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <p>No products available.</p>
                  {% endif %}
                  <!-- PRODUCT-->
                  
                <!-- PAGINATION-->
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center justify-content-lg-end">
                    
                      {% if products.has_previous %}
                      <li class="page-item">
                      <a class="page-link" href="?page=1" >first</a></li>
                      <li class="page-item">
                      <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">«</a></li>
                      {% endif %}
                    
                      {% for num in products.paginator.page_range %}
                            {% if num == products.number %}
                            <li class="page-item active">
                              <a class="page-link active" href="?page={{num}}" >{{num}}</a></li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    
                    
                      {% if products.has_next %}
                      <li class="page-item">
                      <a class="page-link" href="?page={{ products.paginator.num_pages }}" >last</a>
                      </li>
                      <li class="page-item">
                      <a class="page-link" href="?page={{ products.next_page_number }}">»</a></li>
                      {% endif %}          
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
      </div>
      <script>
        // Initialize the Bootstrap Select plugin
        $(document).ready(function() {
          $('.selectpicker').selectpicker();
        });
      </script>
      {% endblock content %}