{% extends 'app/base.html' %}
{% load static %}

{% block metatitle %}Blog{% endblock metatitle %}

{% block content %}
<section class="blog_area section_padding">
  <div class="container">
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
          <div class="col-lg-6">
            <h1 class="h2 text-uppercase mb-0">Blog</h1>
          </div>
          <div class="col-lg-6 text-lg-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                <li class="breadcrumb-item"><a href="{%url 'app:home'%}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-lg-12 mb-4 text-right">
        <form method="get" class="d-inline-block">
          <label for="sort_by" class="mr-2">Sort by:</label>
          <select name="sort_by" id="sort_by" class="form-control d-inline-block" onchange="this.form.submit()">
            <option value="latest" {% if sort_by == "latest" %}selected{% endif %}>Latest</option>
            <option value="oldest" {% if sort_by == "oldest" %}selected{% endif %}>Oldest</option>
          </select>
        </form>
      </div>
      {% for blog_post in page_obj %}
      <div class="col-lg-4 col-md-6">
        <div class="blog_item" style="text-align: center;">
          <a href="{% url 'app:blog-detail' blog_post.slug %}">
            <div class="blog_item_img">
              <img class="card-img rounded-0" style="width: 150px; height:150px;" src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}">
            </div>
          </a>
          <br>
          <div class="blog_details">
            <a class="d-inline-block" href="{% url 'app:blog-detail' blog_post.slug %}">
              {{ blog_post.title }}
            </a>
            <ul class="blog-info-link">
              {% comment %} <li><a href="#"><i class="fa fa-user"></i> Uploader: {{ blog_post.uploader.username }}</a></li> {% endcomment %}
              <li><i class="fa fa-calendar"></i>Publish date: {{ blog_post.publish_date|date:"F d, Y H:i" }}</li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
