{% extends 'app/base.html' %}
{% load static %}

      {% block content %}

      <!-- HERO SECTION-->
      <div class="container">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url({{hero_section.image.url}})">
          <div class="container py-5">
            <div class="row px-4 px-lg-5">
              <div class="col-lg-6">
                <p class="text-muted small text-uppercase mb-2">{{ hero_section.title }}</p>
                <h1 class="h2 text-uppercase mb-3">{{ hero_section.subtitle }}</h1>           
                 <a class="btn btn-dark" href="{%url 'app:shop'%}">Continue shopping</a>
              </div>
            </div>
          </div>
        </section>


        <!-- CATEGORIES SECTION-->
        <section class="pt-5">
          <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
            <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
          </header>
          <div class="row">
            {% if categories %}
            {% for category in categories %}
              <div class="col-md-4 mb-4 mb-md-0">
                <a class="category-item" href="{% url 'app:shop' %}?category={{ category.slug }}">
                  {% if category.category_image %}
                    <img class="img-fluid" style="height: 400px;" src="{{ category.category_image.url }}" alt="{{ category.title }}">
                  {% else %}
                    <img class="img-fluid" style="height: 400px;" src="{% static 'app/img/cat-img-1.jpg' %}" alt="{{ category.title }}">
                  {% endif %}
                  <strong class="category-item-title">{{ category.title }}</strong>
                </a>
              </div>
            {% endfor %}
          {% endif %}          
          </div>
        </section>


        <!-- TRENDING PRODUCTS-->
        <section class="py-5">
          <header>
            <p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
            <h2 class="h5 text-uppercase mb-4">Top trending products</h2>
          </header>
          <div class="row">

            {% if products %}
              {% for product in products %}
              
                <!-- PRODUCT-->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="product text-center">
                    <div class="position-relative mb-3">

                      <div class="badge text-white badge-"></div>
                      
                      <a class="d-block" href="{% url 'app:product-detail' product.slug %}">
                        {% if product.product_image %}
                          <img class="img-fluid w-100" style="height: 300px;" src="{{ product.product_image.url }}" alt="{{product.title}}">
                        {% else %}
                          <img class="img-fluid w-100" style="height: 300px;" src="{% static 'app/img/product-1.jpg' %}" alt="{{product.title}}">
                        {% endif %}
                      </a>

                      <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                          <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="{% url 'app:add-to-wishlist' product.id %}">
                            {% if user.is_authenticated %}
                              {% if product.id in is_in_wishlist %}
                                  <i class="fas fa-heart "></i> 
                              {% else %}
                                  <i class="far fa-heart "></i>
                              {% endif %}
                            {% else %}
                                <i class="far fa-heart"></i> 
                            {% endif %}</a></li>
                          <li class="list-inline-item m-0 p-0">
                            {% comment %} <a class="btn btn-sm btn-dark" href="{% url 'app:add-to-cart' %}">Add to cart</a> {% endcomment %}

                            <form action="{% url 'app:add-to-cart' %}">
                              <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                              {% if product.id in cart_product_ids %}
                                <button type="submit" class="btn btn-sm btn-dark">Remove from Cart</button>
                              {% else %}
                                <button type="submit" class="btn btn-sm btn-dark">Add to Cart</button>
                              {% endif %}
                            </form>
                          </li><br>
                        </ul>
                      </div>
                    </div>
                    <h6> <a class="reset-anchor" href="{% url 'app:product-detail' product.slug %}">{{ product.title }}</a></h6>
                    <p class="small text-muted">${{product.price}}</p>
                  </div>
                </div>

              {% endfor %}
            {% endif %}

            
          </div>
        </section>
        <div style="text-align: center;">
          <a href="{% url 'app:shop' %}" class="btn btn-primary">
             <button type="button" class="btn btn-primary">Shop More</button>
          </a>
        </div><br>

      </div>

      {% endblock content %}
